---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardCont from "../components/CardCont.astro";
import DayNight from "../components/CAD/DayNight.astro"
---

<Layout title="Welcome to Astro.">
	<DayNight></DayNight>
	<main class="flex flex-row">
		<!-- Primera columna -->
		<div class="col column1 flex-1">
			<!-- section experiences -->
			<div class="container section">
				<h2
					class="mb-2 uppercase text-3xl text-center tracking-tight text-silver dark:text-white"
				>
					Experiences
				</h2>
				<div class="card-content">
					<ul role="list" class="link-card-grid">
						<CardCont
							href="https://docs.astro.build/"
							title="Documentation"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/integrations/"
							title="Integrations"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/themes/"
							title="Themes"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/chat/"
							title="Community"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
					</ul>
				</div>
			</div>

			<!-- section Software-->
			<div class="container section">
				<h2
					class="mb-2 uppercase text-3xl text-center tracking-tight text-silver dark:text-white"
				>
					Software
				</h2>
				<div class="card-content">
					<ul role="list" class="link-card-grid">
						<div class="company">
							<div class="company-name">
								Nombre de la Empresa 1
							</div>
							<div class="role">Rol en la Empresa 1</div>
							<div class="date">Fecha enero - junio</div>
						</div>

						<!-- Agregar más empresas aquí -->

						<div class="experiences">SOFTWARE:</div>
						<div class="software">
							<div class="skill-label">Software 1:</div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<!-- Repetir para otros software -->
						</div>
					</ul>
				</div>
			</div>
		</div>

		<!-- Segunda columna -->
		<div class="col column2">
			<div class="hexagon"></div>
			<h1 class="text-4xl">IVAN CASTILLO</h1>
			<div class="profession">Fullstack Developer</div>
			<div class="intro">
				Este es un párrafo de presentación. Puedes personalizarlo con tu
				propia descripción.
			</div>
			<hr />
			<div class="contacts">
				<div class="contact-label">Contactos:</div>
				<div class="contact-info">Correo: ejemplo@gmail.com</div>
				<div class="contact-info">Fecha de Nacimiento: 01/01/1990</div>
				<div class="contact-info">Teléfono: (123) 456-7890</div>
				<div class="contact-info">Website: www.ejemplo.com</div>
				<div class="contact-info">
					Linkedin: www.linkedin.com/in/ejemplo
				</div>
				<div class="contact-info">Zodíaco: Capricornio</div>
			</div>
			<hr />
			<div class="social-icons">
				<div class="social-icon">
					<img src="instagram-icon.png" alt="Instagram" />
					<div>@castelll0009</div>
				</div>
				<!-- Agregar más redes sociales aquí -->
			</div>
		</div>

		<!-- Tercera columna -->
		<div class="col column3">
			<div class="container section">
				<h2
					class="uppercase mb-2 text-3xl text-center tracking-tight text-silver dark:text-white"
				>
					Education
				</h2>
				<div class="card-content">
					<ul role="list" class="link-card-grid">
						<CardCont
							href="https://docs.astro.build/"
							title="Documentation"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/integrations/"
							title="Integrations"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/themes/"
							title="Themes"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
						<CardCont
							href="https://astro.build/chat/"
							title="Community"
							position="Position rol"
							date="10-20-2023"
							body="Card description, yout description about your working experience."
						/>
					</ul>
				</div>
			</div>
			<!-- section Skills-->
			<div class="container section">
				<h2
					class="mb-2 uppercase text-3xl text-center tracking-tight text-silver dark:text-white"
				>
					Skills
				</h2>
				<div class="card-content">
					<ul role="list" class="link-card-grid">
						<div class="company">
							<div class="company-name">
								Nombre de la Empresa 1
							</div>
							<div class="role">Rol en la Empresa 1</div>
							<div class="date">Fecha enero - junio</div>
						</div>

						<!-- Agregar más empresas aquí -->

						<div class="experiences">SOFTWARE:</div>
						<div class="software">
							<div class="skill-label">Software 1:</div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<div class="skill-checkbox"></div>
							<!-- Repetir para otros software -->
						</div>
					</ul>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	body {
		font-family: Arial, sans-serif;
		background-color: #1f2227;
		background-color: white;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	main {
		width: 21cm;
		height: 29.7cm;
		background-color: #1f2227;
		padding: 2.6vw;
		display: flex;
	}

	/* Estilos para la primera columna */
	main .col {
		padding: 20px;
	}
	main .column1 {
		flex: 1;
		color: white;
		text-align: right;
	}

	.experiences {
		font-weight: bold;
		color: #e9eef7;
	}

	.company-name {
		margin-top: 10px;
		color: #354862;
	}

	.role {
		font-style: italic;
		font-size: smaller;
		color: #e9eef7;
	}

	.date {
		font-size: x-small;
		color: #e9eef7;
	}

	/* Estilos para la segunda columna */
	.column2 {
		/* flex: 1; */
		width: 30%;
		text-align: center;
		padding: 20px;
		background-color: #2c3a48;
		color: white;
	}

	.hexagon {
		width: 100px;
		height: 115px;
		background-color: #fff;
		clip-path: polygon(
			50% 0%,
			100% 25%,
			100% 75%,
			50% 100%,
			0% 75%,
			0% 25%
		);
		margin: 0 auto;
	}

	.name {
		font-size: larger;
		margin-top: 10px;
		color: #e9eef7;
	}

	.profession {
		font-size: smaller;
		color: #e9eef7;
	}

	.intro {
		margin-top: 20px;
		color: #e9eef7;
	}

	hr {
		border: 1px dashed white;
	}

	/* Estilos para la tercera columna */
	.column3 {
		flex: 1;
		padding: 20px;
		color: white;
	}

	.education {
		font-weight: bold;
		color: #e9eef7;
	}

	.institution-name {
		margin-top: 10px;
		color: #354862;
	}

	.degree {
		font-style: italic;
		font-size: smaller;
		color: #e9eef7;
	}

	.years {
		font-size: x-small;
		color: #e9eef7;
	}

	.description {
		font-size: small;
		color: #e9eef7;
	}

	/* Estilos para habilidades */
	.skills {
		margin-top: 20px;
		color: #e9eef7;
	}

	.skill-label {
		font-weight: bold;
		color: #e9eef7;
	}

	.skill-checkbox {
		width: 12px;
		height: 12px;
		border: 1px solid #000;
		border-radius: 50%;
		display: inline-block;
		margin-right: 5px;
		background-color: #545a73;
	}

	/* Estilos para los iconos de redes sociales */
	.social-icons {
		margin-top: 20px;
	}

	.social-icon {
		display: inline-block;
		margin-right: 10px;
	}

	.section {
	}
	.section h2 {
		border: none;
		font-weight: lighter;
		border-top: 2.9px dotted rgb(117, 117, 117);
		border-bottom: 2.9px dotted rgb(117, 117, 117);
	}
	.col .section{
		margin-top: 25px;
	}
</style>
